<div *ngIf="product.title" class="card mb-4">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" [alt]="product.title">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.price | currency:'USD' }}</p>
    </div>
    <div *ngIf="showActions" class="card-footer p-0">
      <div class="d-grid" *ngIf="getQuantity() === 0; else updateQuantity">
        <button
          (click)="addToCart()"
          class="btn btn-secondary">Add to Cart</button>
      </div>
      <ng-template #updateQuantity>
        <div class="row g-0">
          <div class="col-2 d-grid">
            <button
              (click)="removeFromCart()"
              class="btn btn-secondary">-</button>
          </div>
          <div class="col text-center">
            {{ getQuantity() }} in cart
          </div>
          <div class="col-2 d-grid">
            <button
              (click)="addToCart()"
              class="btn btn-secondary">+</button>
          </div>
        </div>
      </ng-template>
    </div>
</div>