<div class="row">
    <div class="col-md-6">
        <form #productForm="ngForm" (ngSubmit)="save()">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input #title="ngModel" type="text" class="form-control" [(ngModel)]="product.title" name="title" required>
                <div *ngIf="title.touched && title.invalid" class="alert alert-danger" role="alert">
                    Title is required.
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input #price="ngModel" type="number" class="form-control" [(ngModel)]="product.price" name="price" required min="0">
                </div>
                <div *ngIf="price.touched && price.invalid" class="alert alert-danger" role="alert">
                    <div *ngIf="price.errors?.['required']">Price is required.</div>
                    <div *ngIf="price.errors?.['min']">Price should be 0 or higher.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select #category="ngModel" class="form-select" name="category" [(ngModel)]="product.category">
                    <option *ngFor="let category of categories$ | async" [value]="category.id" >{{ category.name }}</option>
                </select>
                <div *ngIf="category.touched && category.invalid" class="alert alert-danger" role="alert">
                    Category is required.
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input #image="ngModel" type="text" class="form-control" [(ngModel)]="product.imageUrl" name="image" required>
                <div *ngIf="image.touched && image.invalid" class="alert alert-danger" role="alert">
                    Image is required.
                </div>
            </div>
            <button class="btn btn-primary save-btn" [disabled]="!productForm.valid">Save</button>
            <button *ngIf="id" class="btn btn-danger" (click)="delete()">Delete</button>
        </form>
    </div>
    <div class="col-md-6">
        <product-card [product]="product" [show-actions]="false"></product-card>
    </div>
</div>
